---
pagination:
  data: posts
  size: 1
  alias: post
permalink: 'posts/{{ post.id }}/index.html'
eleventyComputed:
  title: "{{ post.title }}"
---

<section>
    <div>
        <article class="prose dark:prose-dark">
            <h1>
                {{ post.title }}
            </h1>
            {% for block in post.blocks.results %}
                {% if block.type == 'paragraph' %}
                    <p>
                        {% for text in block.paragraph.text %}
                            {% if text.text.link.url %}
                                <a href="{{ text.text.link.url }}" target="_blank" rel="noreferrer">
                                    {{ text.text.content}}
                                </a>
                            {% else %}
                                {{ text.text.content }}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
            {{ post.blocks.results }}
        </article>
    </div>
</section>