---
pagination:
  data: posts
  size: 1
  alias: post
permalink: 'posts/{{ post.data.title | slug }}/index.html'
eleventyComputed:
  title: "{{ post.data.title }}"
---

<section>
    <div>
        <article class="prose prose-lg dark:prose-dark">
            <h1 class="leading-loose">
                {{ post.data.title }}
            </h1>
            <p class="flex flex-row items-center">
                <span class="mr-2">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </span>
                Posted on
                <time class="ml-1" datetime="{{ post.data.published | date: "%Y-%m-%d %H:%M" }}">
                    {{ post.data.published | date: "%b %d, %Y"}}
                </time>
            </p>
            {{ post.content | markdown }}
        </article>
    </div>
</section>